// pallet
$black: #222323;
$white: #f0f6f0;
$red: #670909;
$green: #38e54d;

// technical values
$font-size: 18px;
$game-height: 600px;
$game-width: 600px;
$game-min-height: 300px;
$game-min-width: 300px;
